* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.heading {
    background-color: #081b31;
    text-align: center;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.choices {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreBoard {
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#userScore,
#computerScore {
    font-size: 4rem;
}

.messageContainer {
    margin-top: 3rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}